/* Mobile & Tablet */
@media (max-width: 1023px) {
    
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) /2);
    }

    .header__cart-list::after {
        display: none;
    }
    
    .container{
        margin-top: calc( (var(--header-height) + var(--header-sort-bar-height)) /1.2 );
    }

    .header__sort-bar {
        display: flex;
    }

    .app__content {
        padding-top: 20px;
    }

    .nav__bars-btn {
        display: block;
    }

    .mobile-category {
        display: block;
    }

    .footer__download-app-link {
        display: block;
    }

    .footer__policy-item {
        border: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        text-align: right;
        width: 80px;
    }

    .nav__bars-btn {
        margin-right: 46px;
    }

    .footer__download-app-link {
        display: block;
        padding: 6px 8px;
    }

}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 50px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .header__cart {
        width: unset;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.5s;
        display: none;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        left: 0;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .header__mobile-search {
        display: block;
    }

   

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .app__content {
        margin: 0 4px;
    }

    .footer__policy-list {
        padding: 0;
    }

    .footer__policy-item {
        padding: 0;
    }

    @keyframes mobileSearchSideIn {
        from {
            top: calc (var(--header-height)/1.5);
            opacity: 0;
        }
        to {
            top: var(--header-height);
            opacity: 1;
        }
    }
     
    .footer__content {
        padding: 0 16px;
    }

    .footer__heading {
        text-align: center;
    }

    .footer__download,
    .footer-item__link {
        justify-content: center;
    }

    .footer__download-apps {
        flex: unset
    }

    .footer__download-app-link {
        display: block;
        padding: 6px 8px;
    }

    .footer__policy-item {
        padding: 0 8px;
    }

    .footer__text {
        padding: 0 8px;
    }
}